@import '../rem/rem.scss';
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 12px;
}
.font-size-24 {
  font-size: 12px;
}
.font-size-30 {
  font-size: 30px;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.display-flex{
  display: flex;
}
.flex-1 {
  flex: 1;
}

.center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.dis-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.cursor-pointer{
  cursor: pointer
}
.text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.responsive-con-width{
  padding: 0 px2rem(24);
}
